.titulo{
    color: white;
    font-size: 19px;
    // font-weight: bold;
  }

  .header{
    --background: linear-gradient(to top, #384147, #384147, #384147, #384147, #384147);
}

.boton-cerrar{
  
}
span{
  color: white;
}
