<app-header></app-header>


<ion-content>
  <ion-row class="ion-padding-horizontal">
    <ion-col size="9" style="padding-top: 14px;">
      <span class="nombre-persona">{{usuarioSesion.user_sesion_apaterno }} {{usuarioSesion.user_sesion_amaterno }} {{usuarioSesion.user_sesion_nombre }}</span>
    </ion-col>
    <ion-col size="3" (click)="irEvaluaciones()">
      <img src="assets/img/logo.png" alt="">
    </ion-col>
  </ion-row>
  <br>
  <ion-row style="color: white;">
    <ion-col size="1"></ion-col>
    <ion-col class="ion-text-center" size="10">
      <span style="color: white;font-size: 14px;">Tus evaluaciones</span>
    </ion-col>
    <ion-col size="1" (click)="regresarHome()">
      <ion-icon name="close-outline" style="zoom: 1.5;" style="display: flex; justify-content: center; align-items: center;"></ion-icon>
    </ion-col>
  </ion-row>

  <ion-card style="color: white;" (click)="item.visible = !item.visible" class="contenedor-card" *ngFor="let item of listaEvaluacionesUsuario">
      <ion-row *ngIf="item.visible">
        <ion-col class="ion-text-center" size="12">
          <ion-icon name="ellipse" style="color: #87B375;zoom: 1.5;margin-right: 5px;margin-top: 5px;"> &nbsp; &nbsp; </ion-icon> <span>{{item.evaluacion_nombre_establecimiento}}</span> <br>
          <span>{{item.evaluacion_razon_social}}</span> <br>
          <span>{{item.nombre_tipo_comercio}}</span> <br>
          <span>{{item.nombre_subtipo_comercio}}</span>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col offset='6' size='6' class="ion-text-center">
          <span>{{item.evaluacion_fecha_registro | date:"shortDate"}}</span>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-row>
            <ion-col size="12" class="ion-text-center" *ngIf="!item.visible">
              <ion-icon name="ellipse" style="color: #87B375;zoom: 1.5;"></ion-icon>
            </ion-col>
            <ion-col size="12" *ngIf="!item.visible">
              <span> <b>{{item.evaluacion_nombre_establecimiento}}</b></span>
            </ion-col>
            <ion-col size="12">
              <span><b>Calle:</b>  </span> <span>{{item.evaluacion_calle}}</span>
            </ion-col>
            <ion-col size="12">
              <span><b>Colonia:</b> </span> <span>{{item.evaluacion_colonia}}</span>
            </ion-col>
            <ion-col size="12">
              <span><b>Municipio / Alcaldía:</b>  </span> <span>{{item.evaluacion_municipio_alcadia}}</span>
            </ion-col>
            <ion-col size="12">
              <span><b>CP:</b>  </span> <span>{{item.evaluacion_cp}}</span>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="6" class="ion-padding">
          <div id="map{{item.evaluacion_id}}" class="map"></div>
        </ion-col>
      </ion-row>
      
      <div *ngIf="item.visible">
        <ion-card style="width: 80%;margin-left: 10%;border-radius: 20px;" class="contenedor-card" *ngFor="let img of item.list_fotografias">
          <div style="color: white;" class="ion-text-center">
            <ion-col size="10" class="ion-text-center">
            </ion-col>
            <ion-col size="6" class="ion-padding">
              <div class="ion-padding" style="height: 150px;">
                <img src="assets/img/publicidad.png" alt="" width="80%" height="100%" *ngIf="img.fotografia_base64 == null || img.fotografia_base64 == ''">
                <img src="{{'data:image/jpg;base64,' + img.fotografia_base64}}" alt="" width="80%" height="100%" *ngIf="img.fotografia_base64 != null && img.fotografia_base64 != ''">
              </div>
            </ion-col>
          </div>
        </ion-card>
      </div>
      <br>

      <div style="display: flex; justify-content: center; align-items: center">
        <ion-button (click)="enviarEditarEvaluacion(item)" color="light" size="default" shape="round" class="boton_login" *ngIf="item.evaluacion_status == 2">
          Editar
        </ion-button>
        <br>
      </div>
  </ion-card>
  <div>
  </div>
  <br>
</ion-content>