.header{
    --background: linear-gradient(to top, #384147, #384147, #384147, #384147, #384147);
}

.img-header{
    width: 50%;
    margin-left: 60px;
}

.contenedor-boton-cierre-sesion{
    margin-top: 150%;
    margin-left: 25%;
}

.header-menu{
    --background: linear-gradient(to top, #384147, #384147, #384147, #384147, #384147);
    color: white;
}