.header-menu{
    --background: linear-gradient(to top, #384147, #384147, #384147, #384147, #384147);
    color: white;
}
.contenedor-boton-cierre-sesion{
    margin-top: 150%;
    margin-left: 25%;
}