<app-header></app-header>

<ion-content>
    <br>
    <!-- sección imagen -->
    <ion-row class="ion-padding-horizontal">
        <ion-col size="4"></ion-col>
        <ion-col size="4">
            <div class="avatar">
                <img src="{{'data:image/jpg;base64,' + usuarioSesion.user_sesion_foto}}" alt="" class="avatar" 
                *ngIf="usuarioSesion.user_sesion_foto != '' && usuarioSesion.user_sesion_foto != null"> 

                <img src="assets/img/image-anonima.jpeg" alt="" class="avatar" 
                *ngIf="usuarioSesion.user_sesion_foto == '' || usuarioSesion.user_sesion_foto == null">  
            </div>
        </ion-col>
        <ion-col size="4" class="ion-text-center" >
            <div class="img-header ion-text-center">
                <img src="assets/img/logo.png" alt="" >
            </div>
        </ion-col>
    </ion-row>

    <!-- Sección nombres -->
    <ion-row class="ion-padding-horizontal">
        <ion-col size="2"></ion-col>
        <ion-col size="8"  class="ion-text-center">
            <span class="nombre-persona">{{usuarioSesion.user_sesion_apaterno }} {{usuarioSesion.user_sesion_amaterno }} {{usuarioSesion.user_sesion_nombre }}</span><br>
            <span class="ultima-sincronizacion">Última sincronización: {{usuarioSesion.ultima_sincronizacion | date:"shortDate"}}</span>
        </ion-col>
        <ion-col size="2" (click)="irEvaluaciones()" style="display: flex; justify-content: center;">
            <img src="assets/img/comercio.png" alt="" class="img-comercio">
        </ion-col>
    </ion-row>

    <br>
    
    <!-- sección evaluaciones -->
    <!-- <div (click)="verObjetivos = !verObjetivos" *ngIf="!verObjetivos"> -->
    <div>
        <ion-row class="ion-padding-horizontal" style="height: 126px;">
            <ion-col size="6" style="height: 100%;">
                <ion-row style="height: 50%;">
                    <ion-col size="12" style="padding: 0px 5px 5px 0px;">
                        <div style="height: 100%; background-color: rgb(142,160,174); font-size: 17px; display: flex;
                        justify-content: center; align-items: center;" class="border-redondos">
                            <span style="font-weight: bold;color: white;">Sincronizar</span>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row style="height: 50%;">
                    <ion-col size="12" style="padding: 5px 5px 0px 0px;">
                        <div style="height: 100%; background-color: rgb(56, 65, 71); font-weight: bold; display: grid;"
                            class="border-redondos">
                            <ion-row style="justify-content: center; align-items: center;">
                                <span style="color: white; font-size: 14px;">Mes</span>
                            </ion-row>
                            <ion-row style="justify-content: center; align-items: center;">
                                <span style="color: white; font-size: 17px;">{{mesActual}}</span>
                            </ion-row>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-col>

            <ion-col size="6" style="height: 100%;">
                <ion-row style="height: 100%;">
                    <ion-col size="12" style="padding: 0px;">
                        <div style="height: 100%; background-color:  rgb(56, 65, 71);padding: 15px;font-weight: bold; display: grid;"
                            class="border-redondos">
                            <ion-row style="display: grid;">
                                <ion-row style="justify-content: center; align-items: center;">
                                    <span style="color: white; font-size: 14px;">Evaluación por</span>
                                </ion-row>
                                <ion-row style="justify-content: center; align-items: center;">
                                    <span style="color: white; font-size: 14px;">sincronizar</span>
                                </ion-row>
                            </ion-row>
                            <ion-row style="justify-content: center; align-items: center;">
                                <span style="color: white; font-size: 35px;">4</span>
                            </ion-row>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
    
        <ion-row class="ion-padding-horizontal">
            <ion-col size="12" class="ion-text-center">
                <div style="height: 60px; background-color: rgb(56, 65, 71);padding-top: 20px;font-weight: bold;"
                    class="border-redondos">
                    <span style="color: white; font-size: 16px;">{{usuarioSesion.user_sesion_municipio_alcadia}} - {{usuarioSesion.user_sesion_colonia}} - {{usuarioSesion.user_sesion_Calle}}</span>
                </div>
            </ion-col>
        </ion-row>
    
        <ion-row class="ion-padding-horizontal">
            <ion-col size="12" class="ion-text-center" (click)="irNuevaEvaluacion()">
                <div style="height: 60px; background-color:  #8EA0AE;padding-top: 20px;font-weight: bold;"
                    class="border-redondos">
                    <span style="color: white; font-size: 16px;">Nueva Evaluación</span>
                </div>
            </ion-col>
        </ion-row>
    </div>
    <br>

</ion-content>

<app-slide-drawer>
    <ion-row style="height: 900px;">
        <div class="contenedor-principal">
            <ion-row (click)="verObjetivos = !verObjetivos">
                <ion-col size="12" class="ion-text-center">
                    <span style="color: white;font-size: 14;font-weight: bold;"><b>Objetivos por semana</b></span>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="6" class="ion-text-center" *ngIf="objetivos != null">
                    <circle-progress [percent]="objetivos.horas" radius="50" outerStrokeWidth="4" innerStrokeWidth="2"
                        [showInnerStroke]="true" innerStrokeColor="#FFFFFF" space="-2" animation="true"
                        outerStrokeColor='#C00101' animationDuration="400" titleColor='#FFFFFF' unitsColor='#FFFFFF'
                        [showSubtitle]='false'>
                    </circle-progress>
                    <div>
                        <span style="color: white;font-size: 18;">Horas</span>
                    </div>
                </ion-col>
                <ion-col size="6" class="ion-text-center" *ngIf="objetivos != null">
                    <circle-progress [percent]="objetivos.num_evaluaciones" radius="50" outerStrokeWidth="4" innerStrokeWidth="2"
                        [showInnerStroke]="true" innerStrokeColor="#FFFFFF" space="-2" animation="true"
                        outerStrokeColor='#87B375' animationDuration="400" titleColor='#FFFFFF' unitsColor='#FFFFFF'
                        [showSubtitle]='false'>
                    </circle-progress>
                    <div>
                        <span style="color: white;font-size: 18;">Evaluaciones</span>
                    </div>
                </ion-col>
            </ion-row>
            <br>

            <div *ngIf="objetivos != null">
                <ion-row class="ion-text-center">
                    <ion-col size="6">
                        <div class="contenedores-evaluaciones">
                            <span class="letra-contenedores-evaluaciones">Trabajadas</span> <br>
                            <span class="letra-contenedores-evaluaciones-secundaria">Día </span>
                            <span class="letra-contenedores-evaluaciones-numeros">{{trabajadas.dia}} | {{trabajadas.semana}} </span>
                            <span class="letra-contenedores-evaluaciones-secundaria">Semana</span>
                        </div>
                    </ion-col>
                    <ion-col size="6">
                        <div class="contenedores-evaluaciones">
                            <span class="letra-contenedores-evaluaciones">Realizadas</span> <br>
                            <span class="letra-contenedores-evaluaciones-secundaria">Día </span>
                            <span class="letra-contenedores-evaluaciones-numeros">{{realizadas.dia}} | {{realizadas.semana}} </span>
                            <span class="letra-contenedores-evaluaciones-secundaria">Semana</span>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row class="ion-text-center">
                    <ion-col size="6">
                        <div class="contenedores-evaluaciones">
                            <span class="letra-contenedores-evaluaciones">Objetivo</span> <br>
                            <span class="letra-contenedores-evaluaciones-secundaria">Día </span>
                            <span class="letra-contenedores-evaluaciones-numeros">{{objetivoTrabajadas.dia}} | {{objetivoTrabajadas.semana}} </span>
                            <span class="letra-contenedores-evaluaciones-secundaria">Semana</span>
                        </div>
                    </ion-col>
                    <ion-col size="6">
                        <div class="contenedores-evaluaciones">
                            <span class="letra-contenedores-evaluaciones">Objetivo</span> <br>
                            <span class="letra-contenedores-evaluaciones-secundaria">Día </span>
                            <span class="letra-contenedores-evaluaciones-numeros">{{objetivoRealizadas.dia}} | {{objetivoRealizadas.semana}}  </span>
                            <span class="letra-contenedores-evaluaciones-secundaria">Semana</span>
                        </div>
                    </ion-col>
                </ion-row>
            </div>
            

            <div class="ion-padding ion-text-center" style="background-color: rgb(28,35,41);width: 100%;" *ngIf="barChartData != null">
                <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" chartType="bar" [legend]="false"
                    [options]="barChartOptions" height="150" [colors]="barChartColors"></canvas>
                <br>
                <span style="color: white;" *ngIf="objetivos != null">21/06/2021 al 25/06/2021</span>
            </div>
        </div>
    </ion-row>
</app-slide-drawer>